<html>
<head>
    <title>Ola´s blog</title>
</head>
<body>
    <h1>A heading</h1>
    <h2>A sub-heading</h2>
    <h3>A sub-sub-heading</h3>
    <p>Paragraph of text of any kind
        <br>
        <em>Emphasize my text</em>
        <br>
        <strong>Emphasize my text even more</strong>
    </p>
    <h1><strong><a href = 'www.marca.es'>esto es un enlace</a></strong></h1>

    <ul>
        <li>first item</li>
        <li>Second item</li>
        <li>Third item</li>
        <li>Fourth item</li>
        <li>Fifth item</li>
        <li>Sixth item</li>
        <li>Seventh item</li>
        </ul>
</body>
</html>
